/* @settings

name: Announcements
id: typomagical-title
settings:
	-
		id: ann-blockquotes-live-preview
		title: "2025 February 2: Blockquotes now work in Live Preview"
		description: "The 'big with top border' and 'neuomorphic soft shadows' options now work in Live Preview"
		type: info-text
		markdown: true
	-
		id: ann-source-mode-heading-size
		title: "2024 July 4: Source mode text size"
		description: "In source mode, set heading size to be the same as other text. Added a Style Setting to turn this off, under Typomagical Headings > Source mode heading size reset"
		type: info-text
		markdown: true
	-
		id: body-weights
		title: "2024 March 6: Body weights"
		description: "Since Obsidian allows Google fonts, I've reintroduced all font weights for Spectral and Alegreya Sans. I've also expanded the weight slider from 200–800 to 200–900, so that Alegreya Sans users can use the **Black** 900 weight available."
		type: info-text
		markdown: true
	-
		id: amiri-returned
		title: "2024 March 4: Amiri returned"
		description: "Kepano has clarified that while Obsidian does ban network requests in themes, it makes an exception for requests from fonts.googleapis.com. Thus, Amiri is back in Obsidian, but requires an internet connection to work."
		type: info-text
		markdown: true
	-
		id: no-network-update
		title: "2024 February 25 : Typomagical now works 100% offline"
		description: "Obsidian has required all theme developers to remove network requests from their themes. This is so Obsidian can be used 100% offline, and also for security reasons. To comply, Typomagical has removed some features. These include:

		- Amiri font for titles

		- Body text weight setting, only 400 and 700 will work


		If you dearly miss these, please contact me by filing a Github issue.
		"
		type: info-text
		markdown: true
*/
