/*
	Blockquotes
	>
	Official variables from app.css:
	--blockquote-font-style: normal;
	--blockquote-color: inherit;
	--blockquote-background-color: transparent;
*/

body {
	--blockquote-border-thickness: 1px;
	--blockquote-border-color: var(--text-normal)
}

.blockquote-bustle {
	blockquote {
		padding: var(--size-4-4) 0 0 0;
		margin-inline-start: 0;
		margin-inline-end: 0;
		font-size: 1.25em;
		font-weight: 500;
		letter-spacing: -0.05em;
		border-top: 1px solid var(--blockquote-border-color);
		border-left: none;
		margin-left: var(--size-4-12);
	}
	// Decrease the left margin if in sidebar, since there's much less space
	// Cannot use a media query here
	.mod-left-split blockquote {
		margin-left: var(--size-4-4);
	}
}

// Vileplume style blockquote
.blockquote-neuomorphic .markdown-preview-view blockquote {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 10px 20px;
  position: relative;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.01);
}

.callout-icon-only {
	.callout {
		background-color: transparent !important;

		border-width: 0;
		.callout-icon {
			padding-right: 10px;
		}
		svg {
			transform: scale(1.25);
		}
		.callout-title {
			padding-left: 0;
			padding-top: 1em;
			padding-bottom: 0;
		}
		.callout-content {
			padding-left: 32px;
			p:first-child {
				margin-top: 0;
			}
		}
	}
}

.callout-border-gradient {
	.callout {
		background-color: transparent !important;

		border-style: solid;
		border-width: 1px 1px 1px 0;
		border-image: linear-gradient(
				90deg,
				transparent,
				rgba(var(--callout-color), 0.25)
			)
			1;
		.callout-icon {
			padding-right: 10px;
		}
		svg {
			transform: scale(1.25);
		}
		.callout-title {
			padding-left: 0;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.callout-content {
			padding-left: 32px;
			p:first-child {
				margin-top: 0;
			}
		}
	}
}

// [!quote] is facing the wrong way and too small by default
.svg-icon.svg-icon.lucide-quote {
	transform: rotate(180deg) scale(1.25);
}

.callout-quote-style [data-callout="quote"] {
	&.callout.callout {
		border: none;
		display: flex;
		flex-direction: column-reverse;
		.callout-icon {display: none;}
	}

	&::after {
		font-family: 'Alegreya Sans SC';
		font-size: 3em;
		text-align: center;
		line-height: 1;
		content: '“';
		font-weight: 900
	}
	.callout-content.callout-content {
		padding: 0;
		font-size: 1.35em; // at 1.4em, breaks my Mark Twain quote too soon
		text-align: center;
		font-weight: 300;
		font-variant-ligatures: discretionary-ligatures;
		font-feature-settings: "liga";
	}
	.callout-title.callout-title {
		padding-top: 0;
		justify-content: center;
		color: var(--text-normal);
		.callout-title-inner {
			font-weight: 400;
		}
		&::before {
			content: '\2015' // quotation dash
		}
		&:hover {
			cursor: pointer;
		}
	}
	.callout-fold {
		transform: scale(0.75);
		svg {
			stroke: var(--text-accent);
		}
	}
}
