/*
	Blockquotes
	>
*/

.markdown-preview-view blockquote {
	margin: 0;
	/* An attempt at steady vertical rhythm, by eye. Could be more precise with better tooling. */
	margin-top: calc(var(--editor-font-size) * 1.5);
}

/* Revert Live Preview Blockquote to look like regular Preview blockquote */
.markdown-source-view.mod-cm6.is-live-preview {
  .HyperMD-quote {
    border-left-width: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    background-color: initial;
    padding: 10px 20px;
  }
  .HyperMD-quote + .HyperMD-quote {
    border-top-width: 0;
    top: -1px; // Extreme hack to hide borders inside blockquotes
    background-color: var(--background-primary);
  }
  .HyperMD-quote + .HyperMD-quote + .HyperMD-quote {
    top: -2px; // Gross hack to hide borders inside blockquotes
  }
}

/* The text inside a Live Preview blockquote */
.cm-s-obsidian span.cm-quote {
  /* This was originally --text-muted. I don't know why. */
  color: var(--text-normal);
}

// Vileplume style blockquote
.blockquote-neuomorphic .markdown-preview-view blockquote {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 10px 20px;
  position: relative;
  box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.05), 10px 10px 30px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.01);
}

.callout-icon-only {
	.callout {
		background-color: transparent !important;

		border-width: 0;
		.callout-icon {
			padding-right: 10px;
		}
		svg {
			transform: scale(1.25);
		}
		.callout-title {
			background-color: transparent;
			padding-left: 0;
			padding-top: 1em;
			padding-bottom: 0;
		}
		.callout-content {
			padding-left: 36px;
			p:first-child {
				margin-top: 0;
			}
		}
	}
}

.callout-border-gradient {
	.callout {
		background-color: transparent !important;

		border-style: solid;
		border-width: 1px 1px 1px 0;
		border-image: linear-gradient(
				90deg,
				transparent,
				rgba(var(--callout-color), 0.25)
			)
			1;
		.callout-icon {
			padding-right: 10px;
		}
		svg {
			transform: scale(1.25);
		}
		.callout-title {
			background-color: transparent;
			padding-left: 0;
			padding-top: 1em;
			padding-bottom: 1em;
		}
		.callout-content {
			padding-left: 36px;
			p:first-child {
				margin-top: 0;
			}
		}
	}
}
