sup.footnote-ref {
	line-height: 1;
}

.footnote-link {
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 0.05em;
	&:hover {
		text-decoration: none;
	}
}

// The curly arrow in a footnote
.footnote-backref {
	margin-left: 0.5em;
}

// If style setting is turned on
.circled-ol {
	.footnotes ol {
		padding-inline-start: 18px;
	}
	.footnotes ol li::before {
		margin-left: -1.3rem;
	}
}
