@use "./fonts/playfair-display";

@font-face {
	font-family: "Amiri";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amiri/v17/J7aRnpd8CGxBHpUutLM.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: "Amiri";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amiri/v17/J7acnpd8CGxBHp2VkaY_zp4.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Amiri";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/amiri/v17/J7acnpd8CGxBHp2VkaYxzp5yGw.woff2)
		format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYOLjOXQ.woff2)
		format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/bitter/v19/raxhHiqOu8IVPmnRc6SY1KXhnF_Y8SjYOLbOXWh2.woff2)
		format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

:root {
	/* A good Title font should have a beautiful Ampersand (&) and ligatures */
	--font-title: "Amiri";
	--line-height-headings: 1.2; // Also controlled by style settings id line-height-headings in index.scss
	--heading-weight: 600;
}


.css-settings-manager h1.embedded-note-title,
.css-settings-manager h1.cm-line.embedded-note-title,
/* This .cm-s-obsidian selector is only to override .cm-s-obsidian .cm-header */
.cm-s-obsidian .cm-header.cm-header-1 {
	font-weight: 700;
	font-weight: var(--title-weight);
}

h1,
h1.embedded-note-title.embedded-note-title.embedded-note-title,
.cm-header-1,
.markdown-preview-view h1 {
	font-weight: 700;
	font-weight: var(--title-weight);
	color: var(--text-title-h1);
	font-family: var(--font-title);
	padding-bottom: 7px; // Without this, heading descenders like "y" get cut off at short line-heights
}

h1.embedded-note-title.embedded-note-title, // mgmeyers Embedded Note Titles
.cm-header-1,
.markdown-preview-view h1,
.cm-header-2,
.markdown-preview-view h2,
.cm-header-3,
.markdown-preview-view h3,
.cm-header-4,
.markdown-preview-view h4,
.cm-header-5,
.markdown-preview-view h5,
.cm-header-6,
.markdown-preview-view h6 {
	line-height: var(--line-height-headings);
}

.cm-s-obsidian .cm-header,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--heading-weight);
}

.cm-header-2,
.markdown-preview-view h2,
.cm-header-3,
.markdown-preview-view h3,
.cm-header-4,
.markdown-preview-view h4,
.cm-header-5,
.markdown-preview-view h5,
.cm-header-6,
.markdown-preview-view h6 {
	font-weight: var(--heading-weight);
	letter-spacing: -0.03em;
}

/* @settings

name: Typomagical Headings
id: typomagical-title
settings:
	-
		id: font-title
		title: Title font
		description: Titles, or H1s, are special. Thus, they should look special. Choose a Title font that suits you!
		type: variable-select
		default: Amiri
		options:
				- Amiri
				- Bitter
				- Playfair Display
	-
		id: title-weight
		title: Title weight
		description: The boldness of H1 text
		type: variable-number-slider
		default: 650
		min: 400
		max: 900
		step: 25
	-
		id: alignment-title
		title: Title alignment
		description: The horizontal alignment
		type: class-select
		default: align-title-center
		options:
			-
				label: Left
				value: align-title-left
			-
				label: Centered
				value: align-title-center
	-
		id: title-gradient
		title: Title gradient
		description: Apply a vertical gradient to titles
		type: class-select
		allowEmpty: false
		default: ss-title-solid
		options:
			-
				label: No gradient
				value: ss-title-solid
			-
				label: Vertical gradient
				value: ss-title-gradient
	-
		id: heading-weight
		title: Heading weight
		description: The boldness of headings. I recommend choosing something different from your Title weight, and Body weight
		type: variable-number-slider
		default: 600
		min: 200
		max: 800
		step: 100
	-
		id: text-scale
		title: Heading scale
		description: The rate of growth between text and heading sizes. No scaling means headings and body text are the same size. Blank means Typomagical will attempt to choose the right scale based on your screen size.
		type: class-select
		allowEmpty: true
		default: none
		options:
			-
				label: 1.00 No scaling
				value: type-scale-none
			-
				label: 1.067 Minor Second
				value: type-scale-minor-second
			-
				label: 1.125 Major Second
				value: type-scale-major-second
			-
				label: 1.20 Minor Third
				value: type-scale-minor-third
			-
				label: 1.25 Major Third
				value: type-scale-major-third
	-
		id: line-height-headings
		title: Heading line height
		description: Height of each line in headings. I recommend around 1.2. If you have Embedded Note Titles plugin, that setting overrides this.
		type: variable-number-slider
		default: 1.2
		min: 1.00
		max: 2.00
		step: 0.05
	-
		id: heading-ligatures
		title: Heading ligatures
		description: Decorative conjoined characters, such as the "ffi" in "office" and "ft" in "often".
		type: class-toggle
		default: true
	*/

.theme-light {
	--title-gradient-top: var(--link-color);
	--title-gradient-bottom: hsl(249, 34%, 35%);
}
.theme-dark {
	--title-gradient-top: var(--text-normal);
	--title-gradient-bottom: var(--link-color);
}
.ss-title-gradient {
	h1.embedded-note-title.embedded-note-title.embedded-note-title,
	.cm-header-1,
	.markdown-preview-view h1 {
		background-image: -webkit-linear-gradient(-90deg, var(--title-gradient-top) 0%, var(--title-gradient-bottom) 100%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	// Three classes are needed to overcome default style
	h1 .is-unresolved.is-unresolved {
		background-image: -webkit-linear-gradient(-90deg, var(--title-gradient-top) 0%, var(--title-gradient-bottom) 100%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	&.vileplume {
		.cm-header-1,
		.markdown-preview-section.markdown-preview-section h1 {
			text-shadow: none !important;
		}
	}
}


body:not(.align-title-left) {
	.HyperMD-header-line.HyperMD-header-line-1.cm-line, // When user makes a row of === under some text in source or live preview mode
	.inline-title,
	.embedded-note-title.embedded-note-title,
	.HyperMD-header-1,
	.markdown-preview-section.markdown-preview-section h1 {
		text-align: center;
	}
}

// Some colour palettes in style settings set different colours per header. This makes that possible
.cm-header-2,
.markdown-preview-section h2 {
	color: var(--text-title-h2);
}
.cm-header-3,
.markdown-preview-section h3 {
	color: var(--text-title-h3);
}
.cm-header-4,
.markdown-preview-section h4 {
	color: var(--text-title-h4);
}
.cm-header-5,
.markdown-preview-section h5 {
	color: var(--text-title-h5);
}
.cm-header-6,
.markdown-preview-section h6 {
	color: var(--text-title-h6);
}

.css-settings-manager {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-variant-ligatures: none;
	}
	&.heading-ligatures {
		h1,
		.cm-header-1,
		h2,
		.cm-header-2,
		h3,
		.cm-header-3,
		h4,
		.cm-header-4,
		h5,
		.cm-header-5,
		h6,
		.cm-header-6 {
			font-variant-ligatures: common-ligatures;
			font-feature-settings: "liga";
		}
	}
}

/* Headings END */
