
/* @settings

name: Typomagical Images
id: typomagical-images
settings:
	-
		id: ss-image-caption
		title: Image captions
		description: Show captions underneath images using ![filename.jpg|caption]. Does not work for ![](url.jpg).
		type: class-toggle
*/

.ss-image-caption,
// Obsidian Publish - Display a caption underneath image
body:not(.no-image-alttext-caption) .published-container {
	.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
		display: block;
		content: attr(alt);
		color: var(--text-muted);
		margin-bottom: 1em;
		text-align: center;
	}
}
