
/* @settings

name: Typomagical Images
id: typomagical-images
settings:
	-
		id: ss-image-caption
		title: Image captions
		description: Show captions underneath images using ![filename.jpg|caption]. Does not work for ![](url.jpg).
		type: class-toggle
	-
		id: ss-zoom-off
		title: Disable image zoom
		description: Disable click+hold to zoom on images
		type: class-toggle
*/

.ss-image-caption,
// Obsidian Publish - Display a caption underneath image
body:not(.no-image-alttext-caption) .published-container {
	.image-embed[alt]:not([alt$=".png"], [alt$=".jpg"], [alt$=".jpeg"], [alt$=".tiff"])::after {
		display: block;
		content: attr(alt);
		color: var(--text-muted);
		margin-bottom: 1em;
		text-align: center;
	}
}

body:not(.ss-zoom-off) {
	.view-content .image-embed:not(.canvas-node-content):active,
	.view-content .markdown-preview-view img[referrerpolicy=no-referrer]:active {
		aspect-ratio: unset;
		background-color: var(--background-primary);
		cursor: zoom-out;
		display: block;
		z-index: 200;
		position: fixed;
		max-height: calc(100% + 1px);
		max-width: 100%;
		height: calc(100% + 1px);
		width: 100%;
		object-fit: contain;
		margin: -0.5px auto 0!important;
		text-align: center;
		padding: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.view-content div:not(.canvas-node-content) img {
		max-width: 100%;
		cursor: zoom-in;
	}
}
