/*
Links
[[]]
*/

// Alegreya SC was chosen over Spectral SC for having a shorter x-height, and beautiful Ampersands.

body {
	--font-links: "Alegreya SC", "Spectral", serif;
}

// For Live Preview
.cm-s-obsidian span.cm-link a,
.cm-s-obsidian span.cm-url a {
	color: var(--link-external-color)
}

a,
.cm-url,
.cm-hmd-internal-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.cm-link,
.markdown-rendered .internal-link,
.markdown-preview-view .internal-link {
	font-family: var(--font-links);
	font-variant-ligatures: none;
	&:hover {
		filter: brightness(1.15);
	}
}

.theme-light {
	a,
	.cm-url,
	.cm-hmd-internal-link,
	.cm-s-obsidian span.cm-hmd-internal-link,
	.cm-link,
	.markdown-rendered .internal-link,
	.markdown-preview-view .internal-link {
		&:hover {
			filter: saturate(30%);
			filter: brightness(0.6);
		}
	}
}

.markdown-rendered .internal-link:hover {
	text-decoration: underline;
}

.markdown-source-view.mod-cm6 .cm-url,
.markdown-source-view.mod-cm6 .cm-underline {
	text-decoration: none;
}

body.ss-links-spectral {
	--font-links: "Spectral", serif;
}

body.ss-links-sans {
	--font-links: "Alegreya Sans SC", sans-serif;
}

// In source mode and live preview mode, the string between the parentheses of a markdown link. []()
.markdown-source-view.mod-cm6 .cm-url {
	font-family: var(--font-monospace);
	font-size: 0.8em;
	color: var(--link-external-color);
}

.cm-s-obsidian .cm-formatting-hashtag {
	font-family: var(--font-normal);
}

// When "No file is open", the links underneath e.g. "Create New File"
.empty-state-action {
	color: var(--link-color)
}

.cm-s-obsidian .cm-formatting-hashtag,
.cm-hashtag {
	font-size: 0.8em;
	font-family: var(--font-monospace);
}

// Obsidian breaks this icon by default. Remove this code if it gets fixed.
.markdown-rendered .external-link,
.is-live-preview .external-link {
    background-position-y: 0;
}

.ss-hide-external-link-icon {
	.markdown-rendered .external-link,
	.is-live-preview .external-link {
		background-image: none;
		padding-right: 0;
	}
}

.metadata-property[data-property-key="tags"] .multi-select-pill {
	font-family: var(--font-links);
}
