// We want to remove the background when the settings modal is open.
// But, --background-modifier-cover is also used by the loading screen when Obsidian starts
// Setting it with body.theme-light and .theme-dark seems to avoid accidentally styling the loading screen
body.theme-light .modal-bg {
	--background-modifier-cover: rgba(0,0,0,0.1)

}
body.theme-dark .modal-bg {
	--background-modifier-cover: rgba(0,0,0,0.2)
}

.modal.mod-settings {
	max-width: none;
	width: 100%;
	align-self: flex-end;
	box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}

.setting-item-description {
	line-height: 1.4;
}

.community-theme.is-selected.is-selected {
	.community-theme-info {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.community-theme-info::after {
		content: "Customize using the Style Settings plugin!";
		line-height: 1.4;
		position: relative;
		background: var(--background-primary-alt);
		white-space: pre-wrap;
		text-align: center;
		padding: 0.5em;
	}
}
