body.ficus-ruby {
	--link-external-color: #fa858f;
	&.theme-dark{
		--graph-line: #fa858f;
	}
}

/* Same as Obsidian's default triangle but with #C94458 as fill colour. https://yoksel.github.io/url-encoder/ */
.ficus-ruby .dropdown {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23C94458' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E%0A");
}

body.ficus-ruby.theme-light {
	--background-primary: #f5f5f5;
	--background-primary-alt: hsl(180, 13%, 86%);
	--background-secondary: #b0c6c2;
	--background-secondary-alt: #d7e0e0;
	--background-modifier-border: hsl(45, 27%, 65%);
	--background-modifier-form-field: #fff;
	--background-modifier-form-field-highlighted: #fff;
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
	--background-modifier-success: #a4e7c3;
	--background-modifier-error: #990000;
	--background-modifier-error-rgb: 230, 135, 135;
	--background-modifier-error-hover: #bb0000;
	--background-modifier-cover: rgba(0, 0, 0, 0.8);
	--link-color: #800000;
	--link-color-hover: #c94458;
	--text-normal: #333834;
	--text-muted: #525e5b;
	--text-muted-rgb: 136, 136, 136;
	--text-faint: #525e5b;
	--text-error: #800000;
	--text-error-hover: #990000;
	--text-highlight-bg: rgba(201, 68, 88, 0.3);
	--text-highlight-bg-active: rgba(255, 128, 0, 0.4);
	--text-selection: rgba(242, 186, 179, 0.66);
	--text-on-accent: #f2f2f2;
	--text-title-h1: hsl(159, 17%, 41%);
	--text-title-h2: #417262;
	--text-title-h3: #E3764F;
	--text-title-h4: #E66D9B;
	--text-title-h5: #9359db;
	--text-title-h6: #4065dc;
	--interactive-normal: #f2f3f5;
	--interactive-hover: #e9e9e9;
	--interactive-accent: #c94458;
	--interactive-accent-rgb: 201, 68, 88;
	--interactive-accent-hover: #c94458;
	--interactive-success: #333834;
	--scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
	--highlight-mix-blend-mode: darken;
}

body.ficus-ruby.theme-dark {
	--background-primary: #305654;
	--background-primary-alt: #1e3735;
	--background-secondary: #305654;
	--background-secondary-alt: #1e3735;
	--background-accent: #fff;
	--background-modifier-border: #e8aa99;
	--background-modifier-form-field: rgba(0, 0, 0, 0.2);
	--background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.5);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
	--background-modifier-success: #197300;
	--background-modifier-error: #361c1e;
	--background-modifier-error-rgb: 61, 0, 0;
	--background-modifier-error-hover: #563032;
	--background-modifier-cover: rgba(0, 0, 0, 0.6);
	--link-color: #fa858f;
	--link-color-hover: #f4465d;
	--text-normal: #f9ead9;
	--text-muted: #d5c4a1;
	--text-faint: #bdae93;
	--text-highlight-bg: rgba(181, 118, 20, 0.5);
	--text-error: #800000;
	--text-error-hover: #990000;
	--text-selection: rgba(89, 75, 95, 0.99);
	--text-title-h2: #DADC8F;
	--text-title-h3: #a5e6f9;
	--text-title-h4: #D1ABFF;
	--text-title-h5: #FFA3C6;
	--text-title-h6: #e8bb89;
	--text-on-accent: #fbf1c7;
	--interactive-normal: #f4465d;
	--interactive-hover: #f9a8b1;
	--interactive-accent: #f4465d;
	--interactive-accent-rgb: 205, 123, 130;
	--interactive-accent-hover: #f9a8b1;
	--scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.4);
	--scrollbar-bg: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
	--inline-code: #b48ead;
	--code-block: #b48ead;
	--pre-code-bg: rgba(0, 0, 0, 0.2);
	--blockquote-border: #b57614;
	--vim-cursor: #d65d0e;
	--border-color: #504945;
	--hover-bg: rgba(0, 0, 0, 0.5);
}

body.ficus-ruby.theme-light .is-selected kbd {
	background-color: var(--background-secondary-alt);
}

body.ficus-ruby.theme-light .view-header {
	border-top: 1px solid var(--background-primary-alt);
	border-bottom: 2px solid var(--background-primary-alt);
	background-color: var(--background-primary-alt);
}

// This is JAG's change but can't remember why he wanted it
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:before {
	background: linear-gradient(to top, transparent, transparent)!important;
}

body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:after {
	background: linear-gradient(to top, transparent, transparent)!important;
}

body.ficus-ruby.theme-light .workspace-ribbon.mod-right.is-collapsed {
	border-left-color: var(--background-secondary-alt);
}

body.ficus-ruby.theme-light .workspace-ribbon {
	border-left: 2px solid transparent;
}

body.ficus-ruby.theme-light .status-bar {
	border-top: 2px solid var(--background-secondary-alt);
}

body.ficus-ruby.theme-light .view-action {
	color: var(--text-muted);
}

body.ficus-ruby.theme-dark .view-action {
	color: var(--text-muted);
}

body.ficus-ruby.theme-dark .suggestion-item.is-selected {
	background-color: var(--link-color-hover);
}

body.ficus-ruby.theme-dark .workspace-ribbon.mod-right.is-collapsed {
	border-left-color: var(--background-secondary-alt);
}

body.ficus-ruby.theme-dark .workspace-ribbon {
	border-left: 2px solid transparent;
}

body.ficus-ruby.theme-dark .status-bar {
	border-top: 2px solid var(--background-secondary-alt);
}
