@use "./_type-scale.scss";
@use "./fonts/spectral";
@use "./_source-sans.scss";
@use "./_headings.scss";
@use "./image";
@use "./links";
@use "./lists";
@use "./table";
@use "./blockquote";
@use "./footnotes";
@use "./modal-settings";

@use "./ficus-ruby.scss";

@use "./plugins/calendar";
@use "./plugins/dataview";

body {
	--font-default: "Spectral", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", serif;
	--font-text-theme: var(--font-default);
	--link-unresolved-color: #d5aecf;
	--link-unresolved-opacity: 1;
	--link-external-decoration: none;
	--link-external-decoration-hover: underline;
	--tag-color: #eeb662;
	--tag-color-hover: #f7d865;
	--code-normal: #62d770;
	--link-decoration: none;
	--modal-height: 75vh; // 85vh originally

	// Variables I created
	--line-height-body: 1.45; // Also modified by style-settings id line-height-body
}

.theme-light {
	--code-normal: #4db95a;
	--link-external-color: #2f9bb7;
	--link-external-color-hover: rgb(72, 191, 224);
	--tag-color: var(--text-normal);
	--tag-color-hover: var(--text-normal);
	--tag-background: #eeb662;
	--tag-background-hover: #f7d865;
}

.theme-dark {
	--accent-l: 79%;
	--link-external-color: #7fcae6;
	--link-external-color-hover: #89ebe5;
}

body {
	font-weight: var(--body-weight);
}

b,
// .cm-s-obsidian .cm-strong is an existing selector
.cm-s-obsidian .cm-strong {
	font-weight: 600;
	font-weight: var(--bold-weight);
}

.markdown-preview-view hr {
	border-width: 1px 0 0;
	border-style: dotted;
}

/* GRAPH */

.graph-view.color-fill {
}
.theme-light .graph-view.color-fill-tag {
	color: hsl(30, 79%, 49%);
}
.theme-dark .graph-view.color-fill-tag {
	color: hsl(30, 69%, 59%);
}
.theme-light .graph-view.color-fill-attachment {
	// color: hsl(0, 74%, 37%);
	color: #2f9bb7;
}
.theme-dark .graph-view.color-fill-attachment {
	// color: hsl(0, 64%, 42%);
	color: #7fcae6
}
.graph-view.color-fill-unresolved {
}
.graph-view.color-fill-highlight {
}

.markdown-preview-section iframe {
	width: 100%;
}

/* Wrap long nav text*/
.nav-file-title,
.nav-folder-title,
.nav-file-title-content:not(.mk-tree-text), // This :not is for MAKE.md's file tree, #63
.nav-folder-title-content {
	white-space: normal;
	width: auto;
}

/* @settings

name: Typomagical Text
id: typomagical-text
settings:
	-
		id: body-ligatures
		title: Text Ligatures
		description: Decorative conjoined characters, such as the "ffi" in "office" and "ft" in "often".
		type: class-toggle
	-
		id: mjx-font
		title: MathJax font
		description: Font for MathJax e.g. $inline equation$ and $$centered equation$$
		type: class-select
		default: mathjax-font-default
		options:
			-
				label: MJXZERO, MJXTEX (Obsidian Default)
				value: mathjax-font-default
			-
				label: Spectral
				value: mathjax-font-typomagical
	-
		id: ordered-lists
		title: List numbers
		description: Whether numerical lists should have circled, or ordinary numbers
		type: class-select
		default: circled-ol
		options:
			-
				label: Circled
				value: circled-ol
			-
				label: Ordinary
				value: ordinary-ol
	-
		id: font-default
		title: Body font
		description: The font for body
		type: variable-select
		default: Spectral
		options:
			-
				label: Spectral
				value: Spectral
			-
				label: Source Sans Pro
				value: Source Sans Pro
	-
		id: body-weight
		title: Body text weight
		description: The boldness of body text. For high resolution displays I recommend 300 or 400.
		type: variable-number-slider
		default: 400
		min: 200
		max: 800
		step: 100
	-
		id: bold-weight
		title: Bold text weight
		description: The boldness of **bold** text. I recommend 600 or 700.
		type: variable-number-slider
		default: 600
		min: 200
		max: 800
		step: 100
	-
		id: line-height-body
		title: Body line height
		description: Height of each line in a multi-line passage. Obsidian default is 1.5.
		type: variable-number-slider
		default: 1.45
		min: 1.00
		max: 2.00
		step: 0.05
	-
		id: link-font
		title: Link font
		description: The font for links
		type: class-select
		default: ss-links-sc
		options:
			-
				label: Alegreya SC
				value: ss-links-sc
			-
				label: Spectral (Serif)
				value: ss-links-spectral
			-
				label: Source Sans Pro
				value: ss-links-sans
	-
		id: blockquote
		title: Blockquotes
		description: How all blockquotes should look
		type: class-select
		default: blockquote-plain
		options:
			-
				label: Plain box
				value: blockquote-plain
			-
				label: Big with top border
				value: blockquote-bustle
			-
				label: Neuomorphic soft shadows
				value: blockquote-neuomorphic
	-
		id: callout-style
		title: Callout style
		type: class-select
		default: callout-border-gradient
		options:
			-
				label: Obsidian default
				value: callout-default
			-
				label: Icon only
				value: callout-icon-only
			-
				label: Icon and gradient border
				value: callout-border-gradient
	-
		id: callout-quote-style
		title: Quote Callout style
		description: Change [!quote] callouts to magazine style
		type: class-toggle
	-
		id: alignment
		title: Alignment
		description: How all text is aligned
		type: class-select
		default: align-left
		options:
			-
				label: Left
				value: align-left
			-
				label: Justified
				value: align-justified
	-
		id: ss-hide-external-link-icon
		title: Hide external link icons
		type: class-toggle
	*/

/* Change inline mhchem equations font to better blend with the text */
.mathjax-font-typomagical mjx-container mjx-math mjx-texatom {
	font-family: var(--default-font);
}

/*
	Ligatures
	No class is needed for all-ligatures, because ligatures are enabled by default.
*/
body {
	font-variant-ligatures: none;
}
body.css-settings-manager.body-ligatures {
	font-variant-ligatures: common-ligatures;
	font-feature-settings: "liga";
}

.ordinary-ol .markdown-source-view.mod-cm6 .cm-formatting-list-ol,
.ordinary-ol ol li::marker {
	font-family: var(--default-font);
}

.cm-content .cm-line, // Editing mode
.markdown-preview-view {
	// From style-settings id line-height-body
	line-height: var(--line-height-body);
}

.align-justified {
	p {
		text-align: justify;
	}
}

// On mobile, if user turns on Editor/Fold Heading or Editor/Fold List, it bumps in the headings in an ugly way
.is-mobile .markdown-rendered .heading-collapse-indicator {
	margin-left: -30px; // Reset to what it was before
	transform: translateX(6px);
}

/* @settings

name: Typomagical Colour
id: typomagical-colour
settings:
	-
		id: theme-variant
		title: Theme variant
		description: Palette swaps. Don't see one you like? Let me know on forum.obsidian.md/u/hungsu!
		type: class-select
		allowEmpty: false
		default: obsidian
		options:
			-
				label: Obsidian
				value: obsidian
			-
				label: Ficus Ruby
				value: ficus-ruby
			-
				label: Vileplume
				value: vileplume
			-
				label: Obsidian High Contrast
				value: obsidian-high-contrast
	-
		id: background-color-enable
		title: Allow Background color override
		description: The next setting will work when this is on
		type: class-toggle
	-
		id: ss-background-color
		title: Background color
		description: Overwrite background color with one of your choice
		type: variable-color
		opacity: false
		format: hex
		default: '#000000'
	*/

.background-color-enable {
	--ss-background-color: #000000
}
// Style setting "background-color". Three classes needed to override without using !important
.background-color-enable.background-color-enable.background-color-enable {
	--background-primary: var(--ss-background-color)
}

.markdown-source-view.mod-cm6 .cm-gutters {
	background-color: transparent !important;
}

/* START Vileplume */
body.vileplume {
	--dark0: hsl(219, 38%, 21%);
	--dark1: hsl(219, 37%, 36%);
	--dark2: hsl(220, 22%, 51%);
	--dark3: hsl(221, 22%, 55%);
	--light0: #d8dee9;
	--light1: #e5e9f0;
	--light2: #eceff4;
	--light3: #ffffff;
	--frost0: #8fbcbb;
	--frost1: #88c0d0;
	--red53: hsl(355, 35%, 53%);
	--red: hsl(352, 56%, 62%);
	--orange: #d08770;
	--yellow59: hsl(24, 33%, 59%);
	--yellow: hsl(27, 49%, 68%);
	--green: #a3be8c;
	--bloddish64: hsl(204, 24%, 64%);
	--purple: #b48ead;

	--text-title-h1: var(--red);
	--text-title-h2: var(--orange);
	--text-title-h3: var(--yellow);
	--text-title-h4: var(--green);
	--text-title-h5: var(--bloddish64);
	--text-title-h6: var(--purple);
	--text-mark: var(--red);
	--pre-code: var(--dark1);
	--text-highlight-bg: var(--red);
	--interactive-accent: var(--yellow59);
	--interactive-accent-hover: var(--red);
	--interactive-hover: var(--dark0);
	--interactive-before: var(--dark3);
	--background-modifier-border: var(--dark2);
	--link-color: var(--yellow);
	--link-color-hover: var(--yellow59);
	--interactive-accent-rgb: var(--orange);
	--inline-code: var(--frost1);
	--code-block: var(--frost1);
	--vim-cursor: var(--orange);
	--text-selection: var(
		--red53
	); /* Annoying - affects both Edit and Preview, but Preview has translucency */
}

.vileplume ::-webkit-scrollbar {
	background-color: transparent;
}
.vileplume.theme-dark ::-webkit-scrollbar-thumb {
	background-color: var(--dark3);
}

body.vileplume.theme-dark {
	--background-primary: var(--dark0);
	--background-primary-alt: var(--dark0);
	--background-secondary: var(--dark1);
	--background-secondary-alt: var(--dark2);
	--text-normal: var(--light2);
	--text-faint: var(--light0);
	--text-muted: var(--light1);
	--text-link: var(--frost0);
	--opacity-translucency: 0.9;
	--title-gradient-bottom: var(--text-title-h1)
}
body.vileplume.theme-light {
	--background-primary: var(--light3);
	--background-primary-alt: var(--light3);
	--background-secondary: var(--light2);
	--background-secondary-alt: var(--light1);
	--text-normal: var(--dark1);
	--text-faint: var(--dark3);
	--text-muted: var(--dark2);
	--text-link: var(--frost0);
	--text-highlight-bg: var(--light0);
	--text-selection: var(--light0);
	--link-color-hover: var(--yellow);
	--link-color: var(--yellow59);
	--title-gradient-top: var(--text-title-h1);
	--title-gradient-bottom: var(--text-normal);
}

.vileplume .cm-header-1.cm-header-1,
.vileplume .markdown-preview-section.markdown-preview-section h1 {
	color: var(--text-title-h1);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.05), 2px 2px rgba(0, 0, 0, 0.05),
		3px 3px rgba(0, 0, 0, 0.05), 4px 4px rgba(0, 0, 0, 0.05),
		5px 5px rgba(0, 0, 0, 0.05), 6px 6px rgba(0, 0, 0, 0.05),
		7px 7px rgba(0, 0, 0, 0.05), 8px 8px rgba(0, 0, 0, 0.05),
		9px 9px rgba(0, 0, 0, 0.05);
}

.vileplume.theme-light .cm-header-1.cm-header-1,
.vileplume.theme-light .markdown-preview-section.markdown-preview-section h1 {
	text-shadow: 1px 1px rgba(235, 235, 235, 0.5),
		2px 2px rgba(235, 235, 235, 0.5), 3px 3px rgba(235, 235, 235, 0.5),
		4px 4px rgba(235, 235, 235, 0.4), 5px 5px rgba(235, 235, 235, 0.3),
		6px 6px rgba(235, 235, 235, 0.2), 7px 7px rgba(235, 235, 235, 0.1),
		8px 8px rgba(235, 235, 235, 0.1);
}

.vileplume .dropdown {
	background-image: url("https://cdn.discordapp.com/attachments/560318304472793114/808721915627307058/lets_go_arrow.png");
}

.vileplume .side-dock-ribbon-tab:hover,
.vileplume .side-dock-ribbon-action:hover,
.vileplume .side-dock-ribbon-action.is-active:hover,
.vileplume .nav-action-button:hover,
.vileplume .side-dock-collapse-btn:hover {
	color: var(--link-color);
}

.vileplume .graph-view.color-text {
	color: var(--link-color-hover);
}
.vileplume .graph-view.graph-view.color-fill-focused {
	color: var(--yellow59);
}

.vileplume.theme-dark .graph-view.color-fill {
	color: white;
}

.vileplume.theme-light .graph-view.color-line {
	color: hsl(83, 26%, 84%);
}
.vileplume.theme-light .graph-view.color-fill {
	color: hsl(126, 26%, 51%);
}
.vileplume.theme-light .graph-view.graph-view.color-fill-attachment {
	color: hsl(25, 83%, 67%);
}

/* END Vileplume */

.side-dock-ribbon-tab:hover,
body.obsidian-high-contrast .side-dock-ribbon-action:hover {
	color: var(--link-color-hover);
}

body.obsidian-high-contrast.theme-light {
	--background-secondary: #fff;
	--background-secondary-alt: #fff;
	--link-color: hsl(250, 65%, 50%);

	// Chosen using Firefox WCAG, has 4.53 contrast on white background.
	--link-external-color: hsl(193.2, 100%, 31.2%);
	--link-external-color-hover: rgb(72, 191, 224);
}

body.obsidian-high-contrast.theme-dark {
	--background-primary: hsl(0, 0%, 0%);
	--background-primary-alt: black;
	--background-secondary: hsl(0, 0%, 0%);

	// #CCC has 76 APCA contrast level against a black background
	--text-faint: #ccc;
}

body.obsidian-high-contrast.theme-dark .checkbox-container {
	box-shadow: 0 0 2px white;
}

body.obsidian-high-contrast.theme-dark .tooltip {
	--tooltip-bg: white;
	background-color: var(--tooltip-bg);
	color: black;
}

/* tooltip appears below cursor */
body.obsidian-high-contrast.theme-dark .tooltip .tooltip-arrow {
	border-bottom-color: var(--tooltip-bg);
}
body.obsidian-high-contrast.theme-dark .tooltip.mod-right .tooltip-arrow {
	border-right-color: var(--tooltip-bg);
	border-bottom-color: transparent;
}
body.obsidian-high-contrast.theme-dark .tooltip.mod-left .tooltip-arrow {
	border-left-color: var(--tooltip-bg);
	border-bottom-color: transparent;
}
body.obsidian-high-contrast.theme-dark .tooltip.mod-top .tooltip-arrow {
	border-top-color: var(--tooltip-bg);
	border-bottom-color: transparent;
}

body.obsidian-high-contrast.theme-dark .suggestion-item.is-selected {
	color: black;
	background-color: white;
}

/* kbd */
body.obsidian-high-contrast.theme-dark .suggestion-hotkey {
	color: white;
}

/* kbd */
body.obsidian-high-contrast.theme-light .suggestion-hotkey {
	color: var(--text-normal);
}

/* The Link icon when we embed with ![[]] */
.markdown-embed-link {
	right: 0;
	top: 0;
}

.markdown-embed .markdown-preview-view {
	padding: 1em;
}

.workspace-ribbon.mod-left.is-collapsed {
	border-right-color: transparent;
}

/* File explorer */
/* The name of the vault */
.mod-root > .nav-folder-title .nav-folder-title-content {
	/* font-family: var(--font-title); */
	font-weight: 700;
}

/* For wobbly inline mathjax - Issue #13 */
.math-inline mjx-math {
	padding: 0;
}

